*
  box-sizing: border-box
  background-size: cover
  font-size: 16px
  font-family: "Montserrat", serif
  font-style: normal
  font-weight: 400
  line-height: 19.5px
  text-align: left
  color: rgb(var(--v-theme-text), 1)

.v-card
  background-color: rgba(var(--v-theme-background), 0)
  box-shadow: none
  position: relative
  padding-bottom: 0

.v-card-actions
  padding: 0

.v-btn
  text-transform: none
  max-height: 50px

.scalable-btn:hover
  transition-duration: 1s, 500ms
  transform: scale(1.35)

.scalable-btn:not(hover)
  transition-duration: 1s, 500ms
  transform: scale(1)

.scalable-cell:hover
  transition-duration: 500ms, 1s
  transform: scale(1.25)

.scalable-cell:not(hover)
  transition-duration: 1s, 500ms
  transform: scale(1)

.blur
  backdrop-filter: blur(2px)

.v-list
  background-color: rgba(var(--v-theme-surface), 0)

.v-list-item
  background-color: rgba(var(--v-theme-surface), 0)
  border-radius: 10px

.v-list-item:hover
  background-color: rgba(var(--v-theme-hover), 0.5)
  border-radius: 10px

.transparent
  background-color: rgba(var(--v-theme-background), 0)

.auth-card
  display: flex
  justify-content: space-around
  flex-direction: column
  height: 500px
  padding: 30px
  background-color: rgba(var(--v-theme-primary), 0.1)
  border-radius: 25px
  @media (max-width: 500px)
    margin: 0 auto
    padding: 15px

.v-skeleton-loader
  padding-top: 15px
  padding-bottom: 15px
  margin-top: 15px
  margin-bottom: 15px
  background-color: rgba(var(--v-theme-surface), 0)

.auth-title-text
  padding-top: 30px
  padding-bottom: 20px
  text-align: center
  margin: 0 auto
  display: flex

.v-divider
  margin-top: 5px
  margin-bottom: 5px

.keeper-btn
  text-transform: none
  height: 36px
  max-height: 50px
  padding-left: 20px
  padding-right: 20px
  border-radius: 12px

.sections-row
  display: flex
  width: 100%
  padding-right: 10px

.v-text-field
  padding: 0 0 10px 0

.large-title-text
  margin: 0 auto
  font-weight: bold
  font-size: 24px

.small-text
  font-size: 12px

.small-text-linked
  padding-left: 5px
  font-size: 12px
  text-decoration-line: underline

.small-text-center
  justify-content: center
  margin: 0 auto
  display: flex

.section
  max-width: 99%
  margin: 10px 0 0 10px
  padding: 15px
  background: rgba(var(--v-theme-surface), 0.6)
  border-radius: 25px
  background-size: cover

.v-dialog
  background-color: rgba(var(--v-theme-primary), 0.7)

::-webkit-scrollbar
  width: 5px

::-webkit-scrollbar-track
  background: rgba(var(--v-theme-background), 0.7)
  border-left: 1px solid rgba(var(--v-theme-background), 0.7)

::-webkit-scrollbar-thumb
  background: rgba(var(--v-theme-primary), 0.7)
  border: solid 1px rgb(0, 0, 0, 0)
  border-radius: 7px

::-webkit-scrollbar-thumb:hover
  background: #ffffff




