$transparent: rgba(var(--v-theme-background), 0);

$primary01: rgba(var(--v-theme-primary), 0.1);
$primary07: rgba(var(--v-theme-background), 0.7);

$background07: rgba(var(--v-theme-background), 0.7);

$surface06: rgba(var(--v-theme-surface), 0.6);

$hover05: rgba(var(--v-theme-hover), 0.5);

$warning: rgba(var(--v-theme-warning), 1);

$btn-copy: rgba(var(--v-theme-copy), 0.1);
$btn-descr: rgba(var(--v-theme-copy), 0.1);
$btn-update: rgba(var(--v-theme-copy), 0.1);

$text: rgb(var(--v-theme-text), 1);